<!DOCTYPE html>
<html lang="en">
<head> 
	<meta charset="UTF-8">
	<title>Movie Catalog</title>
  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>

  <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
	<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="col-sm-offset-2 col-sm-3">
                <a class="" href="{{url_for('index')}}"><h3>Movie Catalog</h3></a>
            </div>
            <div class="col-sm-offset-3 col-sm-3 ">
                {%if 'username' not in session %}
                <a href="{{url_for('login')}}">
                    <h3>Login</h3>
                </a>
                {% else %}
                <a href="{{url_for('logout')}}">
                    <h3>Logout</h3>
                </a>
                {% endif %}           	
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>